#01. Importing libraries

In [118]:
#Import libraries
import pandas as pd #dataframes and data wrangling
import numpy as np  #numerical operations
import os           #working with file paths

In [119]:
#02. Setting main project path
#Base path to the Instacart project folder

In [120]:
path = r'/Users/jessduong/Documents/CF/Achievement 4_Python/12-2025 Instacart Basket Analysis'

In [121]:
path

'/Users/jessduong/Documents/CF/Achievement 4_Python/12-2025 Instacart Basket Analysis'

In [122]:
#03. Importing data using os.path.join

In [123]:
#03a. Import orders data from the Original Data folder into df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [124]:
#03b. Import products data from the Original Data folder into df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [125]:
#08. Importing departments data for data dictionary

In [126]:
#08 Import departments.csv from the Original Data folder
df_dep = pd.read_csv(
    os.path.join(path, '02 Data', 'Original Data', 'departments.csv'),
    index_col = False)

In [127]:
#08b. Quick check of the imported departments data
df_dep.head()

#use head() function as first step whenever importing new df
#Tranposing practice further down, labeled '08c.'

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

#Part 1: Data Wrangling Procedures (from Exercise 4.4 reading)

In [128]:
#04. Dropping eval_set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [129]:
#05. Checking the frequency of values n the 'days_since_prior_order' column, 
#while keeping missing values visible (drona = False)
#missing valies displayed as NaN in Python

In [130]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

#06. Renaming columns
#rename 'order_dow' to 'orders_day_of_week'

In [131]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [132]:
#06. Renaming column 'orders_dow' check
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [133]:
#07. Changing 'order_id' to string in order to be ignored by describe() function
#describe() function gives statistics (count, mean, standard dev, min, lower & upper Q, max)

In [134]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [135]:
#07b. Return data type of new column name
df_ords['order_id'].dtype 
#use dtype() function to check data type of single column
#use dtypes() for multiple columns

dtype('O')

In [136]:
#08c. Transposing department data
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [137]:
#08d. Overwriting old df_dep with new transposed df
df_dep_t = df_dep.T

In [138]:
#08e. Checking new dep.T df
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [139]:
#08f. Adding index to df to get rid of '0' at top
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [140]:
#08g. Create new header for df_dep
#a. create a new header (Python starts at 0 instead of 1)
#b. remove the first row in dataframe
#c. add new header

In [141]:
#08g-a. create a new header - take the first row of df_dep_t for header
#iloc[] function used for selecting data in pandas and takes index number of row/column
#"locate an interger" = iloc
new_header = df_dep_t.iloc[0]

In [142]:
#08g-a. New header quick check
new_header

0    department
Name: department_id, dtype: object

In [143]:
#08g-b. delete first row - copies over rows beyond first row
df_dep_t_new = df_dep_t[1:]
#[1:] tells Pyton copy everything from first row onward (row 1 is actually second row)

In [144]:
#08g-b. New df quick check
#new df should hae 2 columns and start from row with values '1', not '0'
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [145]:
#08g-c. Add new header by adding list of column names in new_header variable
df_dep_t_new.columns = new_header #set header as new df header

In [146]:
#08g-c. New header quick check
df_dep_t_new

#df no longer too wide, and no longer strange "0" header.
#Missing index column but this df will be turned into data dictionary

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [147]:
#09. Data dictionary for values in "department_id" colum
data_dict = df_dep_t_new.to_dict('index')
#to,dict turns df into dictionary format and saves in new variable, data_dict
#argument 'index' tells Python use numbered rows as key values

In [148]:
data_dict #data dictionary output

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [149]:
df_prods.head() #head function to see first 5 entries of df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [150]:
print(data_dict.get('19')) #receive info from data_dic
#'chocolate sandwich cookies' are in dept "snacks"

{'department': 'snacks'}

In [151]:
#10. Subsetting
#subsetting creates smaller data set based on filter
df_snacks = df_prods[df_prods['department_id']==19]

In [152]:
#10a. breaking down code in parts
df_prods['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [153]:
#10b. adding another df_prods[]
df_prods[df_prods['department_id']==19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [154]:
#10c. Save results in new dataframe "snacks"
df_snacks =  df_prods[df_prods['department_id']==19]

In [155]:
#10c. Snacks quick check
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [156]:
#11. Subsetting using 'loc' - simpler than #10 method
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [157]:
#11a. Quick check for snacks_2 using 'loc'
df_snacks_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [158]:
#11b. Subsetting using ising([19]) to use more than one value to check multiple department_ids at same time
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19])]

#Part 2: Task - Exercise 4.4. Assignment

In [159]:
#Step 2a: Changing another identifier variable to strong format
#checking the current data type of 'user_id'
df_ords['user_id'].dtype

#2b. #changing 'user_id' from numeric to strong (identifier, not a numberic measure)
df_ords['user_id'] = df_ords['user_id'].astype('str')

#2c. #confirming the change
df_ords['user_id'].dtype

dtype('O')

#Step 2: I treated user_id as an identifier instead of a numeric variable
#I changed its type to string using astype('str') so it won't be summarized by numeric statistics like mean or sum.

In [160]:
#Step 3. Renaming an unintuitve column in df_ords
# Check current column names
df_ords.columns

# Renaming 'days_since_prior_order' to 'days_since_previous_order'
df_ords.rename(
    columns = {'days_since_prior_order' : 'days_since_previous_order'},
    inplace = True)

# Confirming the change
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

#Step 3: I renamed days_since_prior_order to days_since_previous_order to make the meaning clearer.
I used rename(..., inplace = True) so existing dataframe is updated rather than creating a new one.

In [161]:
# Step 4. Finding the busiest order hour

# Frequency of order_hour_of_day, highest first
hour_freq = df_ords['order_hour_of_day'].value_counts(dropna = False)

# Display the full frequency table
hour_freq

# Extracting the busiest hour (the index of the max frequency)
busiest_hour = hour_freq.idxmax()
busiest_hour

np.int64(10)

#Step 4. I used value_counts on ordder_hour_of_day to see how many orders occur at each hour. 
The busiest hour is the value hour returned by hour_freq.idxmax(), or 10 o'clock.
The busiest hour for placing orders is 10, which has the highest number of orders.

In [162]:
#Step 5. Determine meaning behind a value of 4 in the "department_id" column within df_prods
data_dict.get('4')

{'department': 'produce'}

#Step 5: Using the data dictionary created during the reading exercise, I looked up the entry for department_id = 4 with data_dict.get('4'), which yielded 'produce' department.

In [163]:
#Step 6. Finding the department_id for 'breakfast'

df_dep_t_new[df_dep_t_new['department'] == 'breakfast']

department_id department
14             breakfast

In [164]:
# Step 6b. Saving the breakfast department_id as a variable for later use
# 1) Check what the departments dataframe looks like (optional sanity check)
df_dep_t_new.head()
df_dep_t_new.columns

# 2) Extract the department_id for 'breakfast'
breakfast_id = int(df_dep_t_new.loc[  df_dep_t_new['department'] == 'breakfast', 'department_id'].iloc[0]) 
breakfast_id

KeyError: 'department_id'

In [ ]:
# Fix columns to have both department_id and department as actual columns

# Reset index so index becomes a normal column named 'index'
df_dep_t_new = df_dep_t_new.reset_index()

# Rename the columns properly
df_dep_t_new.columns = ['department_id', 'department']

# Quick check
df_dep_t_new.head()
df_dep_t_new.columns

In [ ]:
# Step 6b. Saving the breakfast department_id as a variable for later use

breakfast_id = int(df_dep_t_new.loc[df_dep_t_new['department'] == 'breakfast', 'department_id'].iloc[0])
breakfast_id

#filters rows - dg_dep_t_new['department'] == 'breakfast'
#select the id column value - 'department_id'
#take the first value ].iloc[0]

In [ ]:
# Step 6c. Creating the breakfast subset from df_prods

df_breakfast = df_prods[df_prods['department_id'] == breakfast_id]

df_breakfast.head()
df_breakfast.shape  # optional: rows and columns count

#Step 6. I idenitfied the ID to filter df_prods and created df_breakfast from df_dep_t_new
#I used that ID to filter df_prods and created df_breakfast, which only contains products from the breakfast department.

In [ ]:
#Step 7a. Finding department_ids for dinner party departments

party_depts = ['alcohol', 'deli', 'beverages', 'meat/seafood']

# Filter the departments dataframe to just these departments
party_dep_rows = df_dep_t_new[df_dep_t_new['department'].isin(party_depts)]
party_dep_rows

In [ ]:
#Step 7b. Extract the department_id values as a list of integers
party_ids = party_dep_rows['department_id'].astype(int).tolist()
party_ids

In [ ]:
#Step 7c. Creating a subset for dinner party products

# Using loc and isin to filter df_prods for the desired department_ids
df_dinner_party = df_prods.loc[df_prods['department_id'].isin(party_ids)]

# Check the result
df_dinner_party.head()

#Step 7. 	I used df_dep_t_new to find the department_id values for alcohol, deli, beverages, and meat/seafood.
#I then used loc with isin(party_ids) to filter df_prods and created df_dinner_party, which contains all products from these “dinner party” departments.

In [ ]:
#Step 8. Checking the total number of rows in the dinner party dataframe

df_dinner_party.shape[0]

#Step 8. The dinner party subset contains 6743 rows.

In [ ]:
#Step 9. Extracting all information about user_id = '1'
df_user_1

In [ ]:
#Step 10. Basic statistics about user_id = '1'

# Total number of orders this user has placed
total_orders_user_1 = df_user_1['order_number'].max()

# Average number of days between orders (ignoring NaN)
avg_days_between_orders = df_user_1['days_since_previous_order'].mean()

# Most common hour of day for this user
common_hour_user_1 = df_user_1['order_hour_of_day'].value_counts().idxmax()

# Most common day of week for this user
common_dow_user_1 = df_user_1['order_dow'].value_counts().idxmax()

total_orders_user_1, avg_days_between_orders, common_hour_user_1, common_dow_user_1

#Step 10: User 1 Behavioral Insights

After analyzing all orders placed by the customer with user_id = "1", I identified the following behavioral patterns:

This user has placed 11 total orders in the dataset.
On average, they wait about 19 days between purchases, indicating they are an infrequent but recurring shopper.
The most common time they place orders is around 8:00 AM, suggesting they tend to shop in the morning.
Their preferred day to shop is day 4 of the week, which reflects a mid-week ordering habit.

These behaviors suggest that User 1 may be a routine-driven customer who plans shopping ahead rather than making frequent spontaneous orders, likely aligning their groceries with weekday schedules.

In [165]:
# 13. Exporting the wrangled orders dataframe

df_ords.to_csv(
    os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'),
    index = False)

In [ ]:
# 14. Exporting the cleaned departments dataframe

df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'),
    index = False)