#4.8 Grouping Data & Aggregating Variables

Exercise practice notebook.

In [26]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [30]:
# Setting main project path
# Base path to the Instacart project folder
path = r'/Users/jessduong/Documents/CF/Achievement 4_Python/12-2025 Instacart Basket Analysis/02 Data/Prepared Data'

In [28]:
# Load the merged Instacart dataset exported in Exercise 4.7.
# Load ords_prods_merge (pickle)
# Load the merged Instacart dataset exported in Exercise 4.7
ords_prods_merge = pd.read_pickle(os.path.join(path, 'ords_prods_merge.pkl'))
ords_prods_merge.shape

(32435059, 19)

In [29]:
# Create a subset

df = ords_prods_merge[:1000000]

In [33]:
# Shape quick check
df.shape

(1000000, 19)

In [34]:
# Column name quick check
df.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,first_order_flag,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day
0,2539329,1,prior,1,2,8,0.0,True,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,prior,1,2,8,0.0,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,prior,1,2,8,0.0,True,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,prior,1,2,8,0.0,True,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,prior,1,2,8,0.0,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average orders
5,2398795,1,prior,2,3,7,15.0,False,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
6,2398795,1,prior,2,3,7,15.0,False,10258,2,0,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Slowest days,Average orders
7,2398795,1,prior,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Slowest days,Average orders
8,2398795,1,prior,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Slowest days,Average orders
9,2398795,1,prior,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Slowest days,Average orders

In [35]:
# Group df by column
df.groupby('product_name')

In [36]:
# Single aggregation: Mean order_number by department
# Group the data by department_id and calculate
# the mean number of orders per user (order_number)

dept_order_mean = df.groupby('department_id').agg({'order_number': ['mean']})

In [37]:
# Dispay the result
dept_order_mean

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [38]:
# Single aggregation using mean() instead of agg()
#This calculates the same result as the agg() example, but uses the built-in mean() function directly
dept_order_mean_alt = df.groupby('department_id')['order_number'].mean()

In [39]:
# Display the result
dept_order_mean_alt

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [40]:
# Multiple aggregations using agg()
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

# Create Loyalty flag using loc

In [41]:
# Creating max_order using groupby + transform
# This calculates the maximum order_number for each used
# and assigns that value back to every row for that user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/85/2tfx5b95721gp7lbbkvhcplw0000gn/T/ipykernel_78267/4041874591.py:4: FutureWarning: The provided callable <function max at 0x1209b4720> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [44]:
# Column name quick check
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,first_order_flag,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,0.0,True,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,0.0,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,0.0,True,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,0.0,True,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,0.0,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,prior,2,3,7,15.0,False,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,prior,2,3,7,15.0,False,10258,2,0,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,prior,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,prior,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,prior,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,prior,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,prior,3,3,12,21.0,False,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,prior,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,prior,3,3,12,21.0,False,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,prior,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Slowest days,Most orders,10

In [46]:
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

In [50]:
# Sort to mimic CFs screenshot view
check_view = ords_prods_merge[['order_id', 'user_id', 'order_number', 'max_order']].sort_values(by=['user_id', 'order_number'])

check_view.head(20)

    order_id  user_id  order_number  max_order
0    2539329        1             1         10
1    2539329        1             1         10
2    2539329        1             1         10
3    2539329        1             1         10
4    2539329        1             1         10
5    2398795        1             2         10
6    2398795        1             2         10
7    2398795        1             2         10
8    2398795        1             2         10
9    2398795        1             2         10
10   2398795        1             2         10
11    473747        1             3         10
12    473747        1             3         10
13    473747        1             3         10
14    473747        1             3         10
15    473747        1             3         10
16   2254736        1             4         10
17   2254736        1             4         10
18   2254736        1             4         10
19   2254736        1             4         10

# Create loyalty_flag based on max_order thresholds

In [51]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [52]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [53]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [54]:
# Confirming flag was created correctly
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: count, dtype: int64

In [57]:
# Single column access
ords_prods_merge['loyalty_flag']

In [58]:
# Multiple column access
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1